In [35]:
data = [ "홍길동", [90, 100],
         "김영희", [100,100]  ] 

name = [data[0], data[2]]
score = [data[1], data[3]]
sum_list = [sum(score[0]), sum(score[1])]


print(f'{name[0]}의 성적합은 {sum_list[0]}이고 평균은 {sum_list[0]/2}입니다.')
print(f'{name[1]}의 성적합은 {sum_list[1]}이고 평균은 {sum_list[1]/2}입니다.')

홍길동의 성적합은 190이고 평균은 95.0입니다.
김영희의 성적합은 200이고 평균은 100.0입니다.

In [20]:
data = [ "홍길동", [90, 100],
         "김영희", [100,100]  ] 

data.pop()
print(data)

data.extend(["제임스", [90,90]])
print(data)

data.insert(0,[90,90])
data.insert(0, "김철수")
print(data)

print(data.index("김철수"))
print(data.index("홍길동"))
print(data.index("김영희"))

['홍길동', [90, 100], '김영희']
['홍길동', [90, 100], '김영희', '제임스', [90, 90]]
['김철수', [90, 90], '홍길동', [90, 100], '김영희', '제임스', [90, 90]]
0
2
4