In [2]:
data = [10, 100, 70,99 ,22 ]
sum = 0
for i in range(len(data)):
    sum = sum + data[i]
    
print(sum)
print(sum%len(data))

301
1

In [5]:
data = [10, 333, 6 ,99 ,22 ]
sum = 0
for i in range(len(data)):
    if data[i]%3 == 0:
        sum = sum + data[i]
        
print(sum)

438

In [6]:
score = [
    ["홍길동", ["111-2222", "023331111", "서울"]],
    ["김영희", ["222-3333", "부산"]]
]

for person in score:
    name = person[0]
    contact_info = person[1]
    phone_number = contact_info[0]
    
    print(f"이름: {name}, 연락처: {phone_number}")

이름: 홍길동, 연락처: 111-2222
이름: 김영희, 연락처: 222-3333