In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.0.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
lab01_data = pd.read_csv("lab01_car_report.csv")
print(lab01_data )

  규모별          계        승용차      승합차      화물차    특수차
0   계  3,116,256  2,641,190  127,564  339,921  7,581
1  경형    220,851    191,736    7,818   21,278     19
2  소형    323,859     75,636    5,986  238,603  3,634
3  중형  1,689,724  1,528,821  100,000   58,830  2,073
4  대형    881,822    844,997   13,760   21,210  1,855

In [3]:
#행 제목만 출력
lab01_data.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
#열 제목만 출력
lab01_data.columns

Index(['규모별', '계', '승용차', '승합차', '화물차', '특수차'], dtype='object')

In [5]:
#통계적 개요 (평균, 표준편차, 최소, 최대 값 등) 출력
lab01_data.describe()

       규모별          계        승용차      승합차      화물차    특수차
count    5          5          5        5        5      5
unique   5          5          5        5        5      5
top      계  3,116,256  2,641,190  127,564  339,921  7,581
freq     1          1          1        1        1      1

In [6]:
#두번째 열 제목만 출력
lab01_data.columns[1]

'계'

In [7]:
# 두번째 컬럼을 기준으로 내림차순 정렬하여 출력
lab01_data.sort_values(by='계', ascending=False )

  규모별          계        승용차      승합차      화물차    특수차
4  대형    881,822    844,997   13,760   21,210  1,855
2  소형    323,859     75,636    5,986  238,603  3,634
0   계  3,116,256  2,641,190  127,564  339,921  7,581
1  경형    220,851    191,736    7,818   21,278     19
3  중형  1,689,724  1,528,821  100,000   58,830  2,073

In [8]:
# 첫번째 행만 출력
lab01_data.head(1)

  규모별          계        승용차      승합차      화물차    특수차
0   계  3,116,256  2,641,190  127,564  339,921  7,581

In [10]:
#  첫번째 행, 첫번째 열 만 출력 
lab01_data[1:2]

  규모별        계      승용차    승합차     화물차 특수차
1  경형  220,851  191,736  7,818  21,278  19

In [30]:
# 컬럼 제목 “계”  인 데이터만 출력
lab01_data["계"]

0    3,116,256
1      220,851
2      323,859
3    1,689,724
4      881,822
Name: 계, dtype: object

In [32]:
# 화물차 와 특수차 정보만 출력
lab01_data.loc[:, ('화물차', '특수차')]

       화물차    특수차
0  339,921  7,581
1   21,278     19
2  238,603  3,634
3   58,830  2,073
4   21,210  1,855